extends layout

block content
  h2 #{title}
  form(method='POST', action='/articles/add_new_item/' + article._id)
    .form-group
      label Neuer Listeneintrag:
      input.form-control(name='list_item', type='text')
    br
    input.btn.btn-outline-dark(type='submit', value='Hinzufügen')