extends layout

block content
  h2 #{title}
  form(method='POST', action='/articles/add')
    .form-group
      label Title:
      input.form-control(name='title', type='text') 
    .form-group
      label Erstellt von:
      select.form-control(name='author', type='text')
        option(value='Anne') Anne
        option(value='Ralf') Ralf
    .form-group
      label List_item:
      input.form-control(name='list_item', type='text')
    br
    input.btn.btn-outline-dark(type='submit', value='Submit')