extends layout

block content
  h1 #{title}
  form(method='POST', action='/articles/edit/' + article._id)
    .form-group
      each eintrag, i in article.list_item
        label(id='testLabel')
        input.form-control(name='list_item', type='text', value = eintrag.name)
    br
    input.btn.btn-outline-primary.custom-btn(type='submit', value='Senden')