extends layout

block content
  h2(id="heins") #{title}
  br
  ul.list-group
    each article, i in articles
      li.list-group-item
        a(href="/articles/" + article._id)= article.title + ", erstellt am " + article.date
          i.far.fa-edit.float-right      
      br