#edit_btn {
  margin-right: 10px;
}
i.far.fa-edit {
  margin-left: 7px;
}
nav {
  margin-bottom: 3em;
}
#messages {
  float: right;
  margin-top: -25px;
  margin-bottom: -40px;
}
#heins {
  clear: both;
}
#messages i.far, #error_title i.far, #error_body i.far, #error_author i.far {
  margin-left: 10px;
}
nav img {
  width: 50px;
}
#error_title, #error_author, #error_body {
  float: right;
  margin-left: 5px;
} 
li img {
  width: 80px;
  float: left;
  margin-right: 15px;
}
h2 img {
  width: 70px;
  float: left;
  margin-right: 15px;
}